# Leitura de arquivos

In [1]:
# Abrindo arquivo para leitura

import codecs
arq1 = codecs.open("Files/arquivo1.txt", "r", encoding="utf-8")

In [2]:
# Lendo o arquivo

print(arq1.read())

Python é uma linguagem poderosa!

In [3]:
# Contar o número de caracteres

print(arq1.tell())

33

In [4]:
# Retorna para o início do arquivo

print(arq1.seek(0))

None

In [5]:
# Ler os 10 primeiros caracteres (a partir de onde estiver o cursor)

print(arq1.read(10))

Python é u

# Gravação de arquivos

In [6]:
# Abrindo arquivo para gravação

arq2 = open("Files/arquivo2.txt", "w", encoding="utf-8")

In [7]:
# Grava no arquivo

arq2.write("Testando a gravação de arquivos em Python")

41

In [8]:
# Fecha o acesso ao arquivo

arq2.close()

In [9]:
# Acrescenta conteúdo no arquivo

arq2 = open("Files/arquivo2.txt", "a", encoding="utf-8")

In [10]:
arq2.write(" e acrescentando conteúdo")

25

In [11]:
arq2.close()

In [12]:
arq2 = open("Files/arquivo2.txt", "r", encoding="utf-8")

In [13]:
print(arq2.read())

Testando a gravação de arquivos em Python e acrescentando conteúdo

# Automatizando o processo de gravação

In [14]:
filename = input("Digite o nome do arquivo: ")

Digite o nome do arquivo: arquivo3

In [15]:
filename = filename + ".txt"

In [16]:
arq3 = open(f"Files/{filename}", "w")

In [17]:
arq3.write("Incluindo texto no arquivo criado")

33

In [18]:
arq3.close()

In [19]:
arq3 = open(f"Files/{filename}", "r")

In [20]:
print(arq3.read())

Incluindo texto no arquivo criado

In [21]:
arq3.close()

# Abrindo um Datasets em uma unica linha

In [22]:
f = open('Files/salarios.csv', 'r')

In [23]:
df = f.read()

In [24]:
rows = df.split('\n')

In [25]:
# print(rows)

# Dividindo um Dataset em colunas

In [26]:
full_df = []

In [27]:
for row in rows:
    split_row = row.split(',')
    full_df.append(split_row)

In [28]:
# print(full_df)

# Importando um Dataset com Pandas

In [29]:
import pandas as pd

In [30]:
file_name = "Files/salarios.csv"

In [31]:
df = pd.read_csv(file_name)

In [32]:
df.head()

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$88967.00
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,$80778.00
2,"AARON, KARINA",POLICE OFFICER,POLICE,$80778.00
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$84780.00
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$104736.00